<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>

    <body>
        <div id="modal"></div>
        <% _.forEach(htmlWebpackPlugin.options.vendorJs, function(js) { %>
        <script type="text/javascript" src="<%= js %>"></script>
        <% }); %>
        <script>
            function parseParams(param_string) {
                const param_sub = param_string.replace("#", "").split("&")
                const param_obj = {}
                param_sub.forEach(function (param) {
                    const kv = param.split("=")
                    param_obj[kv[0]] = kv[1]
                })
                return param_obj
            }

            var client = ZAFClient.init()
            client.on("app.registered", function () {
                var params = parseParams(window.location.hash)
                var parent_guid = params.parent_guid

                var parentClient = client.instance(parent_guid)
                parentClient.trigger("modalReady")

                client.on("drawData", insertModalHtml)
                function insertModalHtml(data) {
                    document.getElementById("modal").innerHTML = data
                }
            })
        </script>
    </body>
</html>
