<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>

    <body>
        <div id="modal"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <% _.forEach(htmlWebpackPlugin.options.vendorJs, function(js) { %>
        <script type="text/javascript" src="<%= js %>"></script>
        <% }); %>
        <script>
            var client = ZAFClient.init()
            client.on("app.registered", function () {
                var ticketClientPromise = client
                    .get("instances")
                    .then(function (instancesData) {
                        var instances = instancesData.instances
                        for (var instanceGuid in instances) {
                            if (
                                instances[instanceGuid].location ===
                                "ticket_sidebar"
                            ) {
                                return client.instance(instanceGuid)
                            }
                        }
                    })
                ticketClientPromise.then(function (ticketClient) {
                    //send a message back to the parent client to let it know the modal is now ready for events to be triggered
                    ticketClient.trigger("modalReady")
                })
            })
            client.on("drawData", insertModalHtml)
            function insertModalHtml(data) {
                $("#modal").html(data)
            }
        </script>
    </body>
</html>
